*{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    background-color: rgb(240, 240, 240);
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 20px 140px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),
                -5px -5px 10px rgba(0,0,0,0.1);
}

.newBook{
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
}

.newBook :hover{
    scale: 1.08;
    transition: 0.05s;
}

.newBook button{
    background-color: black;
    box-shadow: 6px 6px 6px rgba(2, 177, 153, 0.3);
    height: 50px;
    padding: 0px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: rgb(2, 177, 153);
}

#booksList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#booksList div{
    background-color:  rgb(2, 177, 153);
    display: grid;
    grid-template-rows: 1fr 1fr 25px 25px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(2, 177, 153, 0.3);
}

#booksList div h1{
    text-align: center;
}

#booksList div h2{
    text-align: right;
    font-size: 21px;
    margin: 0px 0px 60px 0px;
}

#booksList div p{
    margin:5px 0px 10px 0px;
}

.formContainer{
    background-color: blue;
    height: 300px;
    width: 300px;
    top: 40%;
    left: 40%;
    position: absolute;
}